<!doctype html>
<html>
    <head>
        <title>Swapi</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
    </head>
    <body>
        <div>Swapi</div>
        <ul>
          <li><a href='/characters'>Characters</a></li>
          <li><a href='/characters?sort=height'>Sort by Height</a></li>
          <li><a href='/characters?sort=mass'>Sort by Mass</a></li>
          <li><a href='/characters?sort=name'>Sort by Name</a></li>
          <li><a href='/character/luke'>Luke</a></li>
          <li><a href='/character/han'>Han</a></li>
          <li><a href='/character/leia'>Leia</a></li>
          <li><a href='/character/rey'>Rey</a></li>
          <li><a href='/planetresidents'>Planet Residents</a></li>
        </ul>
    </body>
</html>
